<!DOCTYPE html>
<html ng-app="toDoList">
  <head>
    <title>TO-DO List with Angular.JS</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="toDoListStyles.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="toDoList.js"></script>
    <script src="itemsService.js"></script>
  </head>
  <body>
    <div align="center" class="title-container">
      <h1>TO-DO LIST</h1>
      <h2>WITH ANGULAR.JS</h2>
    </div>
    <div class="todolist-container">
      <div class="todolist" ng-controller="ItemController as itemCtrl">
        <form class="container" ng-submit="itemCtrl.addItem(itemCtrl.itemDescription)">
          <input type="text" class="item-description" ng-model="itemCtrl.itemDescription"/>
          <input type="submit" value="ADD" class="add-button"/>
        </form>
        <div class="items-container">
          <ul class="item">
            <li ng-repeat="item in itemCtrl.items">
              <div class="description">
                <span ng-class="{'item-selected':item.done}">{{item.description}}</span>
              </div>
              <div class="actions">
                <input type="checkbox" ng-click="itemCtrl.toggleDone(item);">
                <button class="delete-button" ng-click="itemCtrl.deleteItem(item);">DEL</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
