body {
  background-color: #2d2c41;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  padding: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
  background: #fff;
}

ul {
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 5%;
}

h1 {
  font-size: 72px;
  line-height: 72px;
  font-family: Arial, Helvetica, sans-serif, Geneva, sans-serif;
  font-weight: bold;
  color: #6b8d7c;
  -webkit-margin-after:0 !important;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif, Geneva, sans-serif;
  font-weight: normal;
  color: #d8c19f;
}

span {
  font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif, Geneva, sans-serif;
  font-size: 15px;
  line-height: 18px;
}

button {
    background-color: #c12c42;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.item-description {
  width: 80%;
  display: inline-block;
  margin-right: 15px;
  padding: 10px;
  font-family: 'Architects Daughter', cursive, Arial, Helvetica, sans-serif, Geneva, sans-serif;
  font-size: 15px;
}

.add-button {
  background-color: #d8c19f;
  border: none;
  color:#2d2c41;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: inline;
  width: 20%;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.description {
  width: 70%;
  word-wrap: break-word;
}

.title-container {
  padding-top: 30px;
  width: 100%
}

.todolist-container {
  width: 100%;
  padding-top: 60px;
  text-align: center;
}

.todolist {
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.items-container {
  text-align: center;
  width: 100%;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
}

.actions {
  width: 100px;
  text-align: right;
}

.item {
  text-align: left;
}

.item-selected {
  text-decoration: line-through;
  color: #742e46;
}

.delete-button {
  margin-left: 30px;
}
